[submodule "CodeMirror2"]
	path = lib/CodeMirror2
	url = https://github.com/marijnh/CodeMirror.git
[submodule "haxe-bootstrap"]
	path = lib/haxe-bootstrap
	url = https://github.com/freakinruben/haxe-bootstrap.git
